body {
  font-family: 'Montserrat', sans-serif;
  background: #302c42;
  overflow-x: hidden;
}
button {
  cursor: pointer;
  border: none;
  background-color: white;
}
a {
  text-decoration: none;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rel {
  position: relative;
}
.mega-wrapper {
  width: 100vw;
  overflow: hidden;
}
.wrapper {
  max-width: 1303px;
  padding: 0px 15px;
  margin: 0 auto;
}

.button-filled {
  height: 48px;
  padding: 0px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  white-space: nowrap;
}

/* ....................................... */
.title2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 72px;
}
.title2-left {
  width: 509px;
  margin-right: 50px;
}
.title-line1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: -18px;
}
.title2-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-line2 {
  width: 251px;
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  margin-right: 16px;
}

.title2-arrow-img-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
}

.title-right {
  width: 652px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  line-height: 1.5;
}
@media (max-width: 1090px) {
  .title-line1 {
    margin-bottom: -20px;
  }
  .title-left {
    width: 409px;
  }
  .title-line1 {
    font-size: 26px;
    margin-bottom: -18px;
  }

  .title-line2 {
    width: 251px;
    font-size: 26px;
  }
  .title-right {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
  }
}
@media (max-width: 770px) {
  .title2 {
    margin-bottom: 37px;
  }
  .title2-left {
    width: 100%;
    margin-right: 0px;
  }
  .title-line1 {
    margin-bottom: 16px;
    text-align: center;
  }
  .title-line2 {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .title-left {
    min-width: 100%;
  }
  .title-right {
    display: none;
  }
  .title2-arrow-img-wrapper {
    display: none;
  }
}
/* /////////////////////////////////////////////// */

.circle-button-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.32);
  z-index: 3;
}
.circle-button {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-button-img-wrapper {
  position: relative;
  width: 75%;
  height: 75%;
}
